.logonContainer {
  margin: 80px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6842c2;
  flex-direction: column;
  padding: 50px;
  box-shadow: 1px 0 14px rgba(27, 27, 27, 1);
}

.logonContainer .login-btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
