.main .children button {
  margin-bottom: 20px;
}
.children .grupo_user {
  display: flex;
}
.children .grupo_user span {
  margin-left: auto;
  cursor: pointer;
}
.main label {
  font-size: 1.3rem;
  margin-right: 3px;
}
.main .listOfPatients .cardUsers {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .listOfPatients .cardUsers .userContent {
  box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.78);
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.main .listOfPatients .cardUsers .userContent button {
  width: 50%;
}

@media (min-width: 810px) {
  .main .listOfPatients .cardUsers {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 2fr);
  }
}
/* Css form */

.main .forms .flagAtivo {
  font: 500 1rem Archivo;
  display: flex;
  width: 100%;

  justify-content: flex-end;
}
.main .forms .flagAtivo input {
  margin-right: 1rem;
  display: block;
  font: 700 1rem Archivo;
}

.forms .inputGroup select {
  margin-top: 3rem;
  font: 500 1.4rem Archivo;
  margin-right: 1.2rem;
  background: #fff;
}
.forms .inputGroup input,
.forms .inputGroup select {
  border: 0;
}
