.listPage .forms .inputGroup .button {
  text-transform: none;
  letter-spacing: 0.5mm;
  font: 700 1.2rem Archivo;
}

.listPage .buscarExame {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
}
.listPage .buscarExame input {
  font: 500 3rem Acrhivo;
  padding: 1.17rem;
  width: 90%;
  height: 50px;
  border: 0;
  border-radius: 0.8rem 0 0 0.8rem;
  -webkit-appearance: none;
}
.listPage .buscarExame .icon {
  display: flex;
  align-items: center;
  border-collapse: separate;
  justify-content: center;
  border-radius: 0 0.8rem 0.8rem 0;
  width: 10%;
  border: 0;
  height: 50px;
  background: #fff;
  transition: all 0.4s ease-in-out;
}

.listPage .examesList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.examesSelecionados {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  border-top: 1px solid black;
  margin-bottom: 2rem;
  overflow: hidden;
  overflow-y: scroll;
}
.examesSelecionados::-webkit-scrollbar {
  display: none;
}
.tableProcContent {
  margin-top: 4rem;
  width: 100%;
  font: 600 2rem Archivo;
  display: flex;
  justify-content: space-between;
}
.edit {
  background: var(--vibrant-magenta);
}
.examesSelecionados span {
  padding: 10px 0;
}
.examesSelecionados .examesSelect {
  display: flex;
  font: 500 2rem Archivo;
  align-items: center;
  margin: 0 10px;
}
.examesSelecionados .examesSelect .contentExamInTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.examesSelecionados .examesSelect .contentExamInTable input {
  width: 30%;
  padding: 10px;
  border: 0;
  background: #fff;
}
.examesSelecionados .examesSelect .delete {
  margin-right: 1rem;
  border: 0;
  appearance: none;
  outline: none;
}
.examesSelecionados .examesSelect .delete button:hover {
  filter: opacity(0.6);
}
